<!DOCTYPE html>

<html>
  <head>
    <title>NUTV - Sports</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/mobile.css" />
    <meta name="description" content="NUTV Website">
    <meta name="keywords" content="NUTV, Northeastern, University, Television">
    <meta name="author" content="Eric Gift">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">
            <img alt="NUTV" src="/assets/nutv.jpg">
          </a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="/news/projects">News</a></li>
            <li><a href="/sports/projects">Sports</a></li>
            <li><a href="/entertainment/projects">Entertainment</a></li>
            <li><a href="/projects">All</a></li>
          <% else %>
            <li><a href="/news">News</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/entertainment">Entertainment</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <br />
    <div class="container-fluid">
      <div class="row">
        <img class="img-responsive" src="/assets/sports.png" alt=sports />
      </div>
    <br />
    <br />
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">
          <div class="panel panel-primary">
           <div class="panel-heading">
            <h3 class="panel-title">About Sports</h3>
           </div>
           <div class="panel-body">
             Love sports? So do we! NUTV Sports is Northeastern’s only student-run video sports reporting organization, which is a long winded way of saying that we have awesome camera equipment and use it to make whatever we want!
             Whether you’re interested in building a reel or just talking sports on camera, NUTV Sports is the most fun way to do it.
             In the past our team of friends has produced our own SportsCenter-esque studio show, made field reports from Northeastern and major league sporting events, and interviewed some of the best athletes in their field.
             What we do next is up to YOU!
           </div>
         </div>
      </div>
        <div class="col-xs-6 col-lg-4">
          <div class="panel panel-danger">
           <div class="panel-heading">
            <h3 class="panel-title"><i>Meetings</i></h3>
           </div>
           <div class="panel-body">
            <p>
              <b>When:</b> <br>
              Tuesdays <br>
              232 Curry - 7pm <br>
              <br>
              <b>Directors:</b> <br>
              Michael Passarelli <br>
              Gavin Davis
            </p>
           </div>
        </div>
      </div>
      <h2>Best of <span class="label label-primary">Sports</span></h2>
      <div class="row">
        <div class="col-xs-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cQJ-X3Dpus8" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fnVExXGLnP8" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QJkZQjdymHQ" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-5wNvgHiV1Y" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br />
      <footer class="footer">
        <div class="container-fluid">
          <p class="text-muted">Design by <a href="http://www.ericjgift.com">Eric Gift</a>, 2016</p>
        </div>
      </footer>
    </div>
  </body>
</html>
