/****GLOBAL****/

.header {
  position:fixed;
  z-index:10;
  top:0px;
  width:100%;
  background-color:white;
  left:0px;
  border-bottom: 1px solid black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image:    url(/assets/cityscape.png);
  background-repeat:   no-repeat;
  background-position: 200px -70px;
}

.header a {
  text-decoration:none;
  color: black;
  float:right;
  transition: 0s all;
  top:5px;
  right:20px;
  position:relative;
  font-size:30px;
  padding: 10px 20px 0px 20px;
  margin-bottom:0px;
  background-color:white;
}
 
.header a:hover {
  color: #FF2323;
}

.header #logo {
  float:left;
  padding-left:20px;
  padding-right:20px;
  margin-left:40px;
  top:0px;
}

.header #fb {
  height:40px;
  width:40px;
}

.header #twitter {
  height:36px;
  width:36px;
  padding:3px 0px 0px 0px;
}

.footer {
  text-align:center;
  margin-top:30px;
  font-size:10px;
}

.footer h3 {
  font-family: Georgia, serif;
  text-align:center;
  margin-top:50px;
}

body {
  background: gray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#470909, #F56E6E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#470909, #F56E6E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#470909, #F56E6E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#470909, #F56E6E);
}

/****HOME****/

.leftnav {
  width:350px;
  position:absolute;
}

.content {
  top:75px;
  position:relative;
  left:50%;
  margin-left:-780px;
  margin-right:1000px;
}

.videos {
  position:relative;
  left:350px;
  top:0px;
  width:1200px;
  height:800px;
  text-align:center;
  padding-bottom:50px;
  background-color:#2A2F33;
  margin-bottom:100px;
  border-radius:10px;
  margin-left:10px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 30px rgba(0,0,0,1);
}

.videocontainer {
  float:left;
  display:relative;
  padding:20px;
  width:560px;
}

.grid {
  width:560px;
  height:315px;
}

.videos h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:50px;
  color:white;
  -webkit-text-stroke: 2px black;
  margin-bottom:0px;
  padding-top:10px;
}

.dummy {
  position: relative;
  height:100px;
}

/****ENTERTAINMENT****/

.eleftnav {
  position:relative;
  top:100px;
  left:50px;
  height:300px;
  width:300px;
  padding:1px 0px 0px 15px;;
  background-color:lightgray;
  border-radius:5px;
}

.eleftnav h3 {
  font-size:30px;
}

.eleftnav p {
  font-size:20px;
}

.datastorage {
  display:hidden;
}

/**** PROJECTS ****/

.eprojects {
  position:relative;
  width:1450px;
  height:800px;
  border-radius:5px;
  left:50px;
  top:100px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 30px rgba(0,0,0,1);
  background: gray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#A9A9A9, #4D4E51); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A9A9A9, #4D4E51); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A9A9A9, #4D4E51); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A9A9A9, #4D4E51);
}

.etable {
  border-collapse: collapse;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:20px;
}

.etable tr{
  border-bottom:1px solid black;
}

.etable td {
  text-align:center;
  width:250px;
  padding:5px 0px 5px 0px;
}

.etable .pics {
  width:40px;
}

.eprojectcol {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

.eprojectcol p {
  background-color:red;
}

#tabs {
  position:relative;
  background-color: transparent;
  bottom:29px;
  left:10px;
}

.hide {
  display:none;
}

.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-nav-link {
  margin-right: 4px;
  padding: 12px;
  color: black;
  background-color: #e7e7e7; 
  text-align: center;
  transition: color 0.3s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.tab-nav-link:last-child {
  margin-right: 0;
}

.tab-nav-link:hover {
  color: #dc446e;
}

.tab-nav .is-active {
  color: #dc446e;
  background-color: #A9A9A9;
}

.tab-nav-link i,
.tab-nav-link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tab-nav-link i {
  font-size: 18px;
}

.tab-nav-link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .tab-nav-link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .tab-nav-link span {
    display: block;
  }
}

#tabs a {
  text-decoration:none;
}

body {
  height:1000px;
}

.c-tab {
  margin-top:30px;
}

#progresstab {
  position:absolute;
  top:100px;
  left:80px;
  width:1500px;
}

.projectprogress {
  width:300px;
  height:100px;
  background-color:red;
  border-radius:5px;
  text-align:center;
  margin:5px;
  position:relative;
  left:50%;
  margin-left:-150px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:20px;
  padding-top:20px;
  -moz-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  box-shadow: 1px 0px 15px rgba(0,0,0,1);
  margin-bottom:10px;
}

.projectprogress #editprogress {
  position:absolute;
  left:260px;
  margin-right:5px;
  margin-top:-10px;
}

.title {
  text-align:center;
  margin:0px 130px 0px 130px;
  font-size:20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#writingblock {
  background-color:#FF806C;
}

#shootingblock {
  background-color:#FFAA6C;
}

#editingblock {
  background-color:#FFD06C;
}

#completedblock {
  background-color:#9FFF6C;
}

.etable2 tr {
  background-color:blue;
}

.column {
  position:relative;
  float:left;
}

#calendartab {
  position:absolute;
  top:100px;
  left:150px;
  width:1250px;
}

.day {
  width:175px;
  height:100px;
  background-color:#76C1FF;
  font-size:20px;
  margin-bottom:-20px;
}

.today {
  background-color:#FFDD6C;
}

#prev {
  position:relative;
  float:left;
}

#next {
  position:relative;
  float:right;
}

#calendartitle {
  text-align:center;
  font-size:30px;
  margin-bottom:-5px;
}

.calproj {
  position:relative;
  top:-20px;
  background-color:#FFB56C;
  font-size:15px;
  border-radius:5px;
  margin-bottom:5px;
}

#pencil {
  width:30px;
  height:30px;
}

#trash {
    width:30px;
  height:30px;
}

/****NEW PROJECT ****/

.newproj {
  position:absolute;
  width:300px;
  height:600px;
  background-color:#FFF3CB;
  top:150px;
  left:50%;
  margin-left:-150px;
  text-align:center;
  border-radius:5px;
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.hidden {
  display:none;
}

.actions {
  z-index:9;
  background-color:red;
}

.actions #plus {
  width:40px;
  height:40px;
  float:right;
  margin-right:10px;
  margin-top:-5px;
}

#cross {
  width:30px;
  height:30px;
  float:right;
  margin-right:5px;
  margin-top:5px;
  z-index:9;
}