/****GLOBAL****/

.header {
  position:fixed;
  z-index:10;
  top:0px;
  width:100%;
  background-color:white;
  left:0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image:    url(/assets/cityscape.png);
  background-repeat:   no-repeat;
  background-position: 200px -70px;
}

.header a {
  text-decoration:none;
  color: black;
  float:right;
  transition: 0s all;
  top:5px;
  right:20px;
  position:relative;
  font-size:30px;
  padding: 10px 20px 0px 20px;
  margin-bottom:0px;
  background-color:white;
}
 
.header a:hover {
  color: #FF2323;
}

.header #logo {
  float:left;
  padding-left:20px;
  padding-right:20px;
  margin-left:40px;
  top:0px;
}

.header .social {
  padding: 10px 10px 0px 10px;
}

.header #fb {
  height:40px;
  width:40px;
}

.header #insta {
  height:39px;
  width:39px;
  padding-top:2px;
}

.header #twitter {
  height:36px;
  width:36px;
  padding:3px 0px 0px 0px;
}

.footer {
  position:absolute;
  bottom:0px;
  left:50%;
  margin-left:-75px;
  margin-top:30px;
  font-size:10px;
}

.footer h3 {
  font-family: Georgia, serif;
  text-align:center;
  margin-top:50px;
}

body {
  background: gray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#470909, #F56E6E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#470909, #F56E6E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#470909, #F56E6E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gray, white);
}

/****HOME****/

.homebody {
  min-height:1500px;
}

.leftnav {
  width:350px;
  position:absolute;
  left:1210px;
  margin-right:0px;
}

.content {
  top:75px;
  width:90%;
  position:relative;
  left:50%;
  margin-left:-780px;
}

.videos {
  position:absolute;
  left:-10px;
  top:0px;
  width:1200px;
  height:800px;
  text-align:center;
  padding-bottom:50px;
  background-color:#9A0000;
  margin-bottom:100px;
  border-radius:5px;
  margin-left:10px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 30px rgba(0,0,0,1);
}

.videocontainer {
  float:left;
  display:relative;
  padding:20px;
  width:560px;
}

.ig-root_270h54_clearfix {
  border: 1px solid black;
}

.grid {
  width:560px;
  height:315px;
}

.videos h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:50px;
  color:white;
  -webkit-text-stroke: 2px black;
  margin-bottom:0px;
  margin-top:10px;
}

.bottom {
  position:relative;
  top:900px;
  width:1500px;
  left:0px;
}

.aboutus {
  position: relative;
  top:0px;
  left:130px;
  height:300px;
  width:1300px;
  text-align:center;
  background-color:#B8BAC0;
  border-radius:10px;
  -moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  box-shadow: 1px 0px 30px rgba(0,0,0,1);
}

.aboutus h3 {
  font-size:30px;
  padding-top:20px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.aboutus p {
  padding-left:20px;
  padding-right:20px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:20px;
}

.nav {
  position: relative;
  top:50px;
  left:20px;
}

.nav ul {
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav li {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-bottom: 1px solid #888;
  display: inline-block;
  width: 300px;
  border-bottom: none;
  height: 4em;
  line-height: 4em;
  background-color:#9A0000;
  border-radius:25px;
  border: 2px solid #A40008;
  margin:50px;
  display:inline-block;
  position:relative;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: .3s background-color;
  height:2em;
  width:300px;
  font-size:2em;
  border-radius:25px;
}
 
.nav a:hover {
  background-color: #FF7077;
}

/****CONTACT****/

.contactcontent {
  position:relative;
  top:100px;
  left:300px;
  height:300px;
  width:1000px;
  padding:1px 0px 0px 15px;;
  background-color:lightgray;
  border-radius:5px;
  text-align:center;
  margin-bottom:500px;
}

.contactcontent h3{
  font-size:40px;
}

/****ENTERTAINMENT****/

.econtent {
  position:relative;
  left:50%;
  margin-left:-775px;
}

.eleftnav {
  position:relative;
  top:100px;
  left:100px;
  height:300px;
  width:250px;
  padding:1px 0px 0px 15px;;
  background-color:lightgray;
  border-radius:5px;
  text-align:center;
}

.eleftnav h3 {
  font-size:30px;
}

.eleftnav p {
  font-size:20px;
}

.datastorage {
  display:hidden;
}

.eabout {
  position: relative;
  left:400px;
  top:-240px;
  height:300px;
  width:1000px;
  text-align:center;
  background-color:#B8BAC0;
  border-radius:10px;
}

.eabout h3 {
  font-size:40px;
  padding-top:20px;
  margin-bottom:-15px;
}

.eabout p {
  padding-left:20px;
  padding-right:20px;
  font-size:25px;
}

/**** PROJECTS ****/

.eprojects {
  position:relative;
  width:1450px;
  border-radius:5px;
  left:50px;
  top:100px;
  margin-bottom:200px;
  //-moz-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  //-webkit-box-shadow: 1px 0px 30px rgba(0,0,0,1);
  //box-shadow: 1px 0px 30px rgba(0,0,0,1);
  background: transparent; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(#A9A9A9, #4D4E51); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(#A9A9A9, #4D4E51); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(#A9A9A9, #4D4E51); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(#A9A9A9, #4D4E51);
}

.clearfix {
  clear: both 
}

.projectbody {
  min-height:1000px;
}

.etable {
  border-collapse: collapse;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:20px;
  width:1400px;
  table-layout:fixed;
}

.etable tr{
  border-bottom:1px solid black;
}

.etable td {
  text-align:center;
  width:300px;
  padding:5px 10px 5px 10px;
  overflow:hidden;
  white-space: nowrap;
}

.etable th {
  overflow:visible;
}

.etable th .reg {
  text-decoration:none;
  color:black;
  padding:0px 50px 0px 50px;
}

.etable th .current {
  text-decoration:none;
  color:white;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.etable th .asc {
 // background-image: url(/assets/uparrow.png);
}

.etable th .desc {
  //background-image: url(/assets/downarrow.png);
}

.etable .pics {
  width:40px;
}

.sort {
  height:15px;
  width:20px;
}

.eprojectcol {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

.eprojectcol p {
  background-color:red;
}

#tabs {
  position:relative;
  background-color: transparent;
  bottom:29px;
  left:10px;
}

.hide {
  display:none;
}

.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-nav-link {
  margin-right: 4px;
  padding: 12px;
  color: black;
  background-color: #e7e7e7; 
  text-align: center;
  transition: color 0.3s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.tab-nav-link:last-child {
  margin-right: 0;
}

.tab-nav-link:hover {
  color: #dc446e;
}

.tab-nav .is-active {
  color: #dc446e;
  background-color: #A9A9A9;
}

.tab-nav-link i,
.tab-nav-link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tab-nav-link i {
  font-size: 18px;
}

.tab-nav-link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .tab-nav-link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .tab-nav-link span {
    display: block;
  }
}

#tabs a {
  text-decoration:none;
}

.c-tab {
  margin-top:30px;
}

#progresstab {
  position:absolute;
  top:100px;
  left:80px;
  width:1500px;
}

.projectprogress {
  width:300px;
  height:100px;
  background-color:red;
  border-radius:5px;
  text-align:center;
  margin:5px;
  position:relative;
  left:50%;
  margin-left:-150px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:20px;
  padding-top:20px;
  -moz-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  box-shadow: 1px 0px 15px rgba(0,0,0,1);
  margin-bottom:10px;
  overflow:hidden;
}

.progresstext {
  position:relative;
  top:15px;
}

.projectprogress #editprogress {
  position:absolute;
  left:260px;
  margin-right:5px;
  margin-top:-10px;
}

.title {
  text-align:center;
  margin:0px 130px 0px 130px;
  font-size:20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#writingblock {
  background-color:#FF806C;
}

#shootingblock {
  background-color:#FFAA6C;
}

#editingblock {
  background-color:#FFD06C;
}

#completedblock {
  background-color:#9FFF6C;
}

.etable2 tr {
  background-color:blue;
}

.column {
  position:relative;
  float:left;
}

#calendartab {
  position:absolute;
  top:100px;
  left:150px;
  width:1250px;
}

.day {
  width:175px;
  height:115px;
  background-color:white;//#557CC2;
  font-size:20px;
  margin:1px 1px 1px 1px;
  overflow:hidden;
}

.day p {
  position:relative;
  top:-45px;
  left:5px;
}

.today {
  background-color:#EBA300;
}

#prev {
  position:relative;
  float:left;
}

#next {
  position:relative;
  float:right;
}

#calendartitle {
  text-align:center;
  font-size:30px;
  margin-bottom:-5px;
}

.calproj {
  position:relative;
  top:-60px;
  background-color:#9A0000;//#C5D8FF;
  font-size:15px;
  border-radius:5px;
  margin-bottom:5px;
  color:white;
}

.dayproj {
  position:relative;
  width:70%;
  left:70px;
  top:0px;
  background-color:#9A0000;
  font-size:15px;
  border-radius:5px;
  margin-bottom:5px;
  color:white;
}

.dayproj a {
  color:white;
}

.daydet {
  float:right;
  margin-right:10px;
}

.caldet {
  position:relative;
  left:155px;
  z-index:9;
}

.caldetpic {
  width:20px;
  height:20px;
}

.dayview {
  position:absolute;
  width:500px;
  height:200px;
  background-color:white;
  left:50%;
  margin-left:-250px;
  z-index:50;
  text-align:center;
  border:1px solid black;
}

#pencil {
  width:30px;
  height:30px;
}

#trash {
  width:30px;
  height:30px;
}

/****NEW PROJECT ****/

.newproj {
  position:absolute;
  width:600px;
  background-color:#FFF3CB;
  top:200px;
  left:50%;
  margin-left:-300px;
  text-align:center;
  border-radius:5px;
  padding-bottom:20px;
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.hidden {
  display:none;
}

.actions {
  z-index:9;
  background-color:red;
}

.actions #plus {
  width:40px;
  height:40px;
  float:right;
  margin-right:10px;
  margin-top:-5px;
}

#cross {
  width:30px;
  height:30px;
  float:right;
  margin-right:5px;
  margin-top:5px;
  z-index:9;
}

.notesarea {
  max-width:90%;
  width:90%;
  height:150px;
}

/****VIEW PROJECT ****/

.projdetails {
  position:relative;
  top:50px;
  font-size:20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow:hidden;
}

.signup {
  position:absolute;
  top:300px;
  left:270px;
  text-decoration:none;
  color:white;
  text-align:center;
  font-size:20px;
}

.signupbutton {
  background-color:green;
  border-radius:5px;
  height:30px;
  width:100px;
  line-height:28px;
  z-index:9;
}

.projview {
  position:relative;
  width:500px;
  left:50%;
  margin-left:-250px;
  top:100px;
  border-radius:5px;
  text-align:center;
  padding-bottom:150px;
}

.projtopnav {
  position:relative;
  width:1000px;
  height:50px;
  top:20px;
  left:50%;
  margin-left:-500px;
  background-color:#BECFEB;
  border-radius:5px;
  border: 1px solid black;
  padding-bottom:15px;
  text-align:center;
}

.editbuttons {
  position:absolute;
  z-index:9;
  right:5px;
  top:15px;
}

.projtopnav h3 {
  position:relative;
  top:-50px;
  font-size:35px;
  top:-20px;
}

.eventsheader {
  position:relative;
  background-color:#BECFEB;
  width:120px;
  height:30px;
  left:140px;
  top:5px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  border:1px solid black;
}

.addevent {
  height:30px;
  width:50px;
  position:absolute;
  right:75px;
  top:5px;
  background-color:#BECFEB;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  border:1px solid black;
}

.addevent #plus {
  position:relative;
  top:2.5px;
  width:25px;
  height:25px;
}

.eventdetails {
  position:absolute;
  right:85px;
  top:100px;
  text-align:center;
  width:400px;
}

.eventdetails h2 {
  position:relative;
  bottom:23px;
  margin-bottom:15px;
  padding:5px;
}

.indevent {
  background-color:#CEDFFC;
  margin:4px 0px 10px 0px;
  padding:5px;
  font-size:20px;
  border-radius:5px;
  border:1px solid black;
}

#back {
  position:absolute;
  left:5px;
  top:15px;
}

.detholder {
  position:relative;
  width:1100px;
  min-height:700px;
  top:100px;
  left:50%;
  margin-left:-550px;
  background:rgba(255,255,255,0.8);
  border-radius:5px;
  -moz-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 0px 15px rgba(0,0,0,1);
  box-shadow: 1px 0px 15px rgba(0,0,0,1);
}

.projdetails {
  position:absolute;
  width:450px;
  background-color:#CEDFFC;
  top:110px;
  left:85px;
  border-radius:5px;
  padding-left:30px;
  border: 1px solid black;
}

.eventview {
  position:relative;
  width:500px;
  left:50%;
  margin-left:-275px;
  top:100px;
  border-radius:5px;
  text-align:center;
}

.evdetails {
  position:relative;
  width:500px;
  top:0px;
  border-radius:5px;
  padding-left:30px;
  border: 1px solid black;
  background-color:#CEDFFC;
}

/****EDIT PROJECT ****/

.editproject {
  padding:0px;
  position:relative;
  top:120px;
  left:50%;
  margin-left:-250px;
  width:500px;
  background-color:#BECFEB;
  border:1px solid black;
}

.editproj {
  position:absolute;
  z-index:9;
  right:-25px;
  top:5px;
}

.projview #edit {
  width:30px;
  height:30px;
  float:right;
  margin-right:5px;
  margin-top:5px;
  z-index:9;
}

.editclose {
  position:absolute;
  z-index:9;
  right:10px;
  top:-90px;
}

.edittitle {
  position:absolute;
  bottom:555px;
  left:730px;
  font-size:25px;
}

.editform {
  position:relative;
  top:-50px;
  left:10px;
  font-size:20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom:-30px;
}

#eventback {
  position:absolute;
  left:5px;
  top:5px;
  z-index:9;
}

#eventform {
  position:absolute;
  width:600px;
  background-color:#FFF3CB;
  top:200px;
  left:50%;
  margin-left:-300px;
  text-align:center;
  border-radius:5px;
  padding-bottom:20px;
}

